html,
body {
    height: 100%;
}

div.form-lesson {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}
div.form-lesson label {
    text-align: right;
}
div.form-lesson label:after {
    content: ':';
}

.bookTable table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.bookTable td {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.group {
    vertical-align: top;
    display: inline-block;
    padding: 8px;
    margin: 8px;
    border: medium solid green;
}

.groupHeader {
    margin: 0;
    padding: 8px;
    background-color: cadetblue;
}

.groupList {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
